html
  h1 Requirement ID: #{id}
  br
  ul
    li Child ID 1: #[a(href="/requirement?id=#{child_id_1}") #{child_id_1}]
    li Child ID 2: #[a(href="/requirement?id=#{child_id_2}") #{child_id_2}]
    li Group ID: #[a(href="/group?id=#{group_id}") #{group_id}]
    li AND: #{and}
    li Concurrent: #{concurrent}
    li Occurence: #{occurence}
